body {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, cursive;
    background: linear-gradient(#7C9EB2, #A7B37D);
    color: #ffffff;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}

#aud-img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #EBE659;
    margin-bottom: 10px;
}

#bday-age {
    background: #EBE659;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #EBE659;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

#gift-img-cheers {
    height: 200px;
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("images/gift-cover.jpg");
    background-size: cover;
}

#gift-img-glasses:hover {
    background-image: url("images/glasses.gif");
}

#gift-img-red-dress:hover {
    background-image: url("images/red-dress.gif");
}

#gift-img-audrey-coffee:hover {
    background-image: url("images/audrey-coffee.gif");
}

#gift-img-cat:hover {
    background-image: url("images/cat.gif");
}

#gift-img-queen:hover {
    background-image: url("images/queen.gif");
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: white;
}

/* 
Add the footer paragraph according to the design. 
Configure the anchor tag to open the link in a new tab.
Forgotten how to do it? Google it! 

Link: 
https://scrimba.com/learn/htmlandcss

Text:
Want to create your own Birthday GIFt site? Take this HTML & CSS course.
*/